BlueprintAndroidApp/.gradle
BlueprintAndroidApp/local.properties
BlueprintAndroidApp/.idea/
BlueprintAndroidApp/.idea/workspace.xml
BlueprintAndroidApp/.idea/libraries
BlueprintAndroidApp/.idea/misc.xml
BlueprintAndroidApp/.idea/gradle.xml
BlueprintAndroidApp/.idea/misc.xml
BlueprintAndroidApp/app/app.iml
BlueprintAndroidApp/.idea/inspectionProfiles/
BlueprintAndroidApp/.DS_Store
BlueprintAndroidApp/build
BlueprintAndroidApp/captures
