BlueprintAndroidApp/.gradle
BlueprintAndroidApp/local.properties
BlueprintAndroidApp/.idea/workspace.xml
BlueprintAndroidApp/.idea/libraries
BlueprintAndroidApp/.idea/misc.xml
BlueprintAndroidApp/.DS_Store
BlueprintAndroidApp/build
BlueprintAndroidApp/captures
